#### Question 1

docker run --help

#### Question 2

docker run -it python:3.9 bash
pip list

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-09.csv')

/tmp/ipykernel_6417/3716745654.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [11]:
df.shape

(449063, 20)

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [10]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

63

#### Question 3

select count(*) from green_taxi_data
where lpep_pickup_datetime between '2019-09-18 00:00:00' and  '2019-09-18 23:59:59'
;

#### Question 4

select lpep_pickup_datetime,trip_distance
from green_taxi_data
where trip_distance = (select max(trip_distance) from green_taxi_data);

#### Question 5

 CREATE TEMPORARY TABLE temp_location AS 
 SELECT 
		g."PULocationID",
		lpep_pickup_datetime,
		total_amount,
		CONCAT(z."LocationID", '/', z."Zone") AS pickup_loc,
		z."Borough" 
	FROM 
		green_taxi_data g,
		zones z
	WHERE 
		g."PULocationID" = z."LocationID" 
	and
		(
			g.lpep_pickup_datetime between '2019-09-18 00:00:00' and '2019-09-18 23:59:59'
			)
;

select * from temp_location;


SELECT 
   "Borough", 
   SUM(total_amount) total
FROM 
   temp_location
GROUP BY 
   "Borough"
;

#### Question 6

 CREATE TEMPORARY TABLE temp_zone AS
 SELECT 
		lpep_pickup_datetime,
		tip_amount,
		CONCAT(z."LocationID", '/', z."Zone") AS pickup_loc,
		CONCAT(d."LocationID", '/', d."Zone") AS dropoff_loc,
		d."Borough" as drop_borough,
		d."Zone" as drop_zone,
		z."Zone" as pick_zone
	FROM 
		green_taxi_data g,
		zones z,
		zones d
	WHERE 
		g."PULocationID" = z."LocationID" AND
		g."PULocationID" = d."LocationID" 
		--z."Zone" = 'Astoria'
	--and
		--(
			--g.lpep_pickup_datetime between '2019-09-18 00:00:00' and '2019-09-18 23:59:59'
			--)
;


select max(tip_amount) tip,pick_zone, drop_zone, drop_borough from temp_zone
where pick_zone = 'Astoria';

select * from temp_zone;


CREATE TEMPORARY TABLE temp_zone2 AS
select *
from temp_zone
where 
	pick_zone = 'Astoria'
;

select *
from temp_zone2
where tip_amount = (select max(tip_amount) from temp_zone2);


select * from temp_zone1;

#### Question 7

google_bigquery_dataset.dataset: Creating...
google_storage_bucket.data-lake-bucket: Creating...
google_bigquery_dataset.dataset: Creation complete after 1s [id=projects/burnished-case-410121/datasets/trips_data_all]
google_storage_bucket.data-lake-bucket: Creation complete after 2s [id=de_zoomcamp_data_lake_burnished-case-410121]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.

---